<mat-accordion>
    <mat-tab-group class="matTab">
        <mat-tab *ngFor="let category of mealCategories" label={{category}}>
            <mat-expansion-panel *ngFor="let meal of meals" hideToggle>
                <mat-expansion-panel-header *ngIf="meal.category == category">
                    <mat-panel-title>
                        {{meal.name}}
                    </mat-panel-title>
                    <mat-panel-title class="price">
                        {{meal.price}} Ft
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-meal-details [meal]="meal"></app-meal-details>
            </mat-expansion-panel>
        </mat-tab>
    </mat-tab-group>
</mat-accordion>