<h2 class="cartNotesTitle">Notes for the cook:</h2>
<div class="center">
    <mat-form-field appearance="fill" class="notes">
        <mat-label>Write your specific needs here...</mat-label>
        <textarea 
            matInput 
            cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="10"
            [(ngModel)]="comment">
        </textarea>
    </mat-form-field>
</div>
<ng-container *ngIf="checkCartCompletion(); else missingData">
    <div class="center">
        <button mat-raised-button color="primary" (click)="sendOrder()">Send order</button>
    </div>
</ng-container>
<ng-template #missingData>
    <div class="center">
        <button mat-raised-button disabled>Send order</button>
    </div>
    <div class="center">
        <h3 class="centerWarn">Please select one of your addresses to send your order!</h3>
    </div>
</ng-template>
