<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="isLoggedIn" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button [routerLink]="['landing']" class="app-title">{{ appTitle }}</button>
  <span class="spacer"></span>
  <span *ngIf="isLoggedIn">{{getUserName()}}</span>
  <app-cart-icon *ngIf="isLoggedIn"></app-cart-icon>
  <button *ngIf="isLoggedIn" mat-button (click)="logout()">
    <span>Logout</span>
  </button>
  <button *ngIf="!isLoggedIn" mat-button [routerLink]="['/', 'registration']">
    <span>Sign up</span>
  </button>
  <button *ngIf="!isLoggedIn" mat-button [routerLink]="['/', 'login']">
    <span>Login</span>
  </button>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav *ngIf="isLoggedIn" [opened]="isShowing">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['restaurants']">
        <mat-icon>restaurant</mat-icon>
        Restaurants
      </a>
      <a mat-list-item [routerLink]="['orders']">
        <mat-icon>update</mat-icon>
        Orders
      </a>
      <a mat-list-item [routerLink]="['addresses']">
        <mat-icon>location_city</mat-icon>
        Addresses
      </a>
      <a mat-list-item [routerLink]="['profile']">
        <mat-icon>person</mat-icon>
        Profile
      </a>
      <a mat-list-item [routerLink]="['myrestaurant/landing']">
        <mat-icon>business_center</mat-icon>
        My Restaurant
      </a>
      <!--<a *ngIf="isAdmin" mat-list-item [routerLink]="['other-requests']">
        <mat-icon>notification_important</mat-icon>
        Requests
      </a>-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>