<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ appTitle }}</span>
  <span class="spacer"></span>
  <span>hi, username</span>
  <app-cart-icon></app-cart-icon>
  <button mat-button>
    <span>Logout</span>
  </button>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['restaurants']">
        <mat-icon>restaurant</mat-icon>
        Restaurants
      </a>
      <a mat-list-item [routerLink]="['orders']">
        <mat-icon>update</mat-icon>
        Orders
      </a>
      <a mat-list-item [routerLink]="['addresses']">
        <mat-icon>location_city</mat-icon>
        Addresses
      </a>
      <a mat-list-item [routerLink]="['profile']">
        <mat-icon>person</mat-icon>
        Profile
      </a>
      <a mat-list-item>
        <mat-icon>business_center</mat-icon>
        My Restaurant
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>