<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ appTitle }}</span>
  <span class="spacer"></span>
  <span>hi, {{ currentUser!.name }}</span>
  <button mat-button>
    <mat-icon [matBadge]="badgeCount" matBadgePosition="before" matBadgeColor="warn">shopping_cart</mat-icon>
    <span> Cart</span>
  </button>
  <button mat-button>
    <span>Logout</span>
  </button>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['restaurants']">Restaurants</a>
      <a mat-list-item [routerLink]="['orders']">Orders</a>
      <a mat-list-item [routerLink]="['addresses']">Addresses</a>
      <a mat-list-item [routerLink]="['profile']">Profile</a>
      <a mat-list-item>My Restaurant</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>