<p mat-line class="reverse-line">
    <button mat-icon-button (click)="closeDialog()" class="req-close">x</button>
</p>
<h1 class="req-title">New Request</h1>
<mat-form-field appearance="fill" class="form-field">
    <mat-label>Select request type</mat-label>
    <mat-select [(ngModel)]="selectedTypeAsString">
        <mat-option (click)="setServiceNewRequestType(type)" *ngFor="let type of requestTypes" [value]="type">
            {{type}}
        </mat-option>
    </mat-select>
</mat-form-field>
<ng-container *ngIf="selectedTypeAsString==reqTypeNewRestaurantString">
    <h2>Create Restaurant</h2>
    <app-restaurant-editor></app-restaurant-editor>
</ng-container>
<ng-container *ngIf="selectedTypeAsString==reqTypeDelRestaurantString">
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Select the restaurant to delete</mat-label>
        <mat-select [(ngModel)]="selectedRestaurantToDelete">
            <mat-option *ngFor="let restaurant of data.myRestaurants" [value]="restaurant">
                {{restaurant.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button *ngIf="selectedRestaurantToDelete"
        (click)="createRequest(selectedRestaurantToDelete)" 
        mat-raised-button 
        class="delete-button">
        SEND DELETE REQUEST
    </button>
</ng-container>
<ng-container *ngIf="selectedTypeAsString==reqTypeEditRestaurantString">
    <h2>Edit Restaurant</h2>
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Select restaurant to edit</mat-label>
        <mat-select [(ngModel)]="selectedRestaurantToEdit">
            <mat-option *ngFor="let restaurant of data.myRestaurants" [value]="restaurant">
                {{restaurant.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <app-restaurant-editor 
        [restaurantToEdit]="selectedRestaurantToEdit" 
        [myRestaurants]="data.myRestaurants"
        *ngIf="selectedRestaurantToEdit">
    </app-restaurant-editor>
</ng-container>
<ng-container *ngIf="selectedTypeAsString==reqTypeApplyJobString">
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Select the restaurant to apply</mat-label>
        <mat-select [(ngModel)]="selectedRestaurantToApply">
            <mat-option *ngFor="let restaurant of data.restaurants" [value]="restaurant">
                {{restaurant.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button *ngIf="selectedRestaurantToApply"
        (click)="createRequest(selectedRestaurantToApply)" 
        mat-raised-button 
        color="primary">
        APPLY
    </button>
</ng-container>
<ng-container *ngIf="selectedTypeAsString==this.reqTypeResignJobString">
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Select the restaurant to resign</mat-label>
        <mat-select [(ngModel)]="selectedRestaurantToResign">
            <mat-option *ngFor="let restaurant of data.workPlaces" [value]="restaurant">
                {{restaurant.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button *ngIf="selectedRestaurantToResign"
        (click)="createRequest(selectedRestaurantToResign)" 
        mat-raised-button 
        class="delete-button">
        RESIGN
    </button>
</ng-container>
<ng-container *ngIf="selectedTypeAsString==reqTypeDismissEmployeeString">
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Select a restaurant to dismiss an employee</mat-label>
        <mat-select [(ngModel)]="selectedRestaurantToDismissFrom">
            <mat-option *ngFor="let restaurant of data.myRestaurants" [value]="restaurant">
                {{restaurant.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <ng-container *ngIf="selectedRestaurantToDismissFrom">
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Select an employee to dismiss</mat-label>
            <mat-select [(ngModel)]="selectedUserToDismiss">
                <mat-option *ngFor="let worker of selectedRestaurantToDismissFrom.workers" [value]="worker">
                    id: {{worker.id}}, {{worker.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button *ngIf="selectedUserToDismiss"
            (click)="dismissWorker(selectedRestaurantToDismissFrom)" 
            mat-raised-button 
            class="delete-button">
            DISMISS
        </button>
    </ng-container>
</ng-container>
