<h1>Sign up</h1>
<form [formGroup]="registrationForm" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
        <mat-label>Your name</mat-label>
        <input
            formControlName="name"
            name="name"
            matInput
        />
        <mat-error *ngIf="name.invalid">This field required</mat-error> 
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
            formControlName="userName"
            name="userName"
            matInput
        />
        <mat-error *ngIf="userName.invalid">This field required</mat-error> 
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
            formControlName="password"
            name="password"
            matInput
            type="password"
        />
        <mat-error *ngIf="password.invalid">This field required</mat-error> 
    </mat-form-field>
    <div>
        <button mat-raised-button color="primary">Sign up</button>
    </div>
</form>
