<div>
    <p>Category: {{meal.category}}</p>
</div>
<div>
    <p>Description: {{meal.description}}</p>
</div>
<div>
    <p>Vegan: {{meal.isVegan}}</p>
</div>
<div>
    <p>Spicy: {{meal.isSpicy}}</p>
</div>
<div>
    <p>Vegetarian: {{meal.isVegetarian}}</p>
</div>
<div>
    <p>Lactose free: {{meal.isLactoseFree}}</p>
</div>
<div>
    <p>Gluten free: {{meal.isGlutenFree}}</p>
</div>
<div>
    <p>Gluten free: {{meal.isGlutenFree}}</p>
</div>
<div class="cartButton">
    <button mat-raised-button color="primary">
        Add to cart
    </button>    
</div>